body {
    Montserrat:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #53595f;
}
h1 {
    font-family: "Greyscale Basic","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    padding: 5px 10px;
    background: #4a686e;
}